body {
    height: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

#header {
    font-family: 'Bangers', cursive;
    font-size: 50px;
}

#views {
    grid-column: 2;
    background-color: #885AD1;
    min-height: 100vh;
}

#main-view {
    transition: opacity 2000ms ease-in-out;
}

#quiz-view {
    transition: opacity 2000ms ease-in-out;
}

li {
    list-style: none;
}

#score-list {
    border: 3px solid black;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   
    padding: 20px;
}

.invisible-view {
    opacity: 0 !important;
    transition: opacity 300ms ease-in-out, visibility 300ms !important;
    overflow: hidden;
    visibility: hidden;
}

#ans-input {
    border-radius: 20px;
    width: 79%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}


button {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}