body {
    margin-top: 0px;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#F2F2F2;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

#header {
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color: #DC3D3B;
}

#views {
    grid-column: 2;
   
    min-height: 100vh;
}

#main-view {
    transition: opacity 2000ms ease-in-out;
}

#quiz-view {
    transition: opacity 2000ms ease-in-out;
}

li {
    list-style: none;
}

#score-list {
    border-top: 30px solid #63BA38;
    border-right: 30px solid #F4CA39;
    border-bottom: 30px solid #DC3D3B;
    border-left: 30px solid #1665C8;
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   
    padding: 20px;
}

.invisible-view {
    opacity: 0 !important;
    transition: opacity 300ms ease-in-out, visibility 300ms !important;
    overflow: hidden;
    visibility: hidden;
}

#ans-input {
    border-radius: 20px;
    width: 79%;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

#timer {
   
}


button {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
}