body {
    margin: 0px;
    height: 100%;
    text-align: center;
    padding: 0px;
   
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color:#F2F2F2;
}


header {
    margin-top: 0px;
    box-shadow: 0 1px 2px #5e5d5b;
}

#header {
    margin-top: 0px;
    background-color:  #834FBA;;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color: white;  
    padding: 20px;

}

#views {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-height: 100vh;
}

#main-view {
    transition: opacity 1000ms ease-in-out;
}

#quiz-view {
    transition: opacity 1000ms ease-in-out;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
    list-style-position: outside;
}

#scores-sec {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    box-shadow: 0 1px 2px #5e5d5b;
    background-color: white;
    padding: 20px;
}

.invisible-view {
    opacity: 0 !important;
    transition: opacity 300ms ease-in-out, visibility 300ms !important;
    overflow: hidden;
    visibility: hidden;
}

#ans-input {
    border-radius: 20px;
    width: 79%;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    border: 1px solid transparent;
    text-align: center;
    box-shadow: 0 1px 2px #5e5d5b;
    outline: none;
}

#timer {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 70px;
    padding: 15px 40px;
    box-shadow: 0 1px 2px #5e5d5b;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}


#quiz-list {
    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

#quiz-list button {
    padding: 40px;
    text-align: center;
    margin: 10px 10px;

    flex-basis: auto;
}


button:enabled:hover {
    background-color: white !important;
}

#quiz-list button:nth-child(4n+0) {
    background-color: #F4CA39;
}

#quiz-list button:hover:nth-child(4n+0) {
    color: #F4CA39;
}

#quiz-list button:nth-child(4n+1) {
    background-color: #63BA38;
}

#quiz-list button:hover:nth-child(4n+1) {
    color: #63BA38;
}

#quiz-list button:nth-child(4n+2) {
    background-color: #DC3D3B;
}

#quiz-list button:hover:nth-child(4n+2) {
    color: #DC3D3B;
}

#quiz-list button:nth-child(4n+3) {
    background-color: #1665C8;
}

#quiz-list button:hover:nth-child(4n+3) {
    color: #1665C8;
}


#quiz-description {
    margin-bottom: 40px;
}

button {
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0 1px 2px #5e5d5b;
    padding: 12px 40px;
    font-size: 18px;
    color: white;
    border: 1px solid transparent;
}

button:hover {
    transition: 200ms ease-in;
}

button:focus {
    outline: none;
}

button:enabled {
    background-color:  #834FBA;
}

button:disabled {
    background-color: grey;
}


button:hover:enabled {
    color:  #834FBA;
    border-color: currentColor;

}
